ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==7.7.2
matplotlib==3.5.3
matplotlib-inline==0.1.6
pandas==1.4.4
Pillow==9.1.1
plotly==5.9.0
streamlit==1.29.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-embedcode==0.1.2
streamlit-extras==0.3.5
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
st-pages
